{% extends 'base.html' %}

{% block title %}About Us - Flask Blog{% endblock %}

{% block content %}
<div class="banner" style="height: 400px; background-image: url('static/about.jpeg'); background-size: cover; background-position: center; position: relative;">
    <h1 class="text-3xl font-bold text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></h1>
</div>
<div class="container mx-auto mt-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nunc mauris. Vivamus ultrices placerat nisi, in ultricies purus ultrices ac. Vestibulum ac odio ut quam dictum commodo. Nullam nec arcu sit amet metus congue posuere. Duis ut efficitur velit. Nam ut libero eu nunc ullamcorper accumsan. Proin vulputate velit eget odio scelerisque, nec vulputate nulla lacinia. Vestibulum lacinia lectus a elit eleifend tincidunt.</p>
    <p>Integer ut quam sit amet eros hendrerit semper. Phasellus consequat nec dolor nec scelerisque. Proin nec libero sodales, vehicula eros eu, venenatis dui. Integer feugiat posuere urna, vel scelerisque odio fermentum sed. Aliquam quis eros nulla. Vivamus mattis diam a libero bibendum, eget maximus dolor vehicula.</p>
</div>
{% endblock %}
