{% extends 'base.html' %}

{% block title %}Home - Flask Blog{% endblock %}

{% block content %}
<div class="banner mx-0 my-0" style="height: 400px; width: 100%; background-image: url('{{ banner_image_url }}'); background-size: cover; ">
    
</div>


<h1 class="text-3xl font-bold mb-4 pt-5">Trending Posts</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for post in posts %}
    <div class="border border-gray-300 rounded-lg p-4">
        <img src="{{ post.image_url }}" alt="{{ post.title }}" class="mb-4 w-full" style="height: 200px; object-fit: cover;">
        <h2 class="text-xl font-bold">{{ post.title }}</h2>
        <p>{{ post.short_description }}</p>
        <a href="{{ url_for('post_detail', post_id=post.id) }}" class="mt-2 block text-green-800 hover:underline">Read more</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
